.l-loading{
    width:100vw;
    height:100vh;
}

.l-nav{
    width:100vw;
    height:60px;
}

.l-header{
    width:100vw;
    height:720px;
}

.l-wrapper{
    width:100vw;
    overflow:hidden;
}

.l-content{
    width:100vw;
    height:calc(420/1280*100vw);
    min-height: 420px;
}

.l-contact{
    width:100vw;
    height:390px;
}

.l-pr{
    width:100vw;
    height:400px;
}

.l-footer{
    width:100%;
    height:300px;
}