//loading
.o-loading{
    background:$white;
    position:fixed;
    left:0;
    top:0;
    z-index:4;
    display:flex;
    justify-content: center;
    align-items: center;
    
    //loading消す
    display:none;
}

.l-loading_logo{
    width:100px;
    height:auto;
    animation:3s linear infinite rotation;
}

@keyframes rotation{
  0%{ 
      transform:rotate(0);
    }
  100%{ 
      transform:rotate(360deg); 
    }
}


//nav
.o-nav{
    position:fixed;
    z-index:2;
}

.o-nav_contents{
    width:calc(100vw - 120px);
    height:60px;
    margin:0 auto;
    z-index:3;
    display:flex;
    justify-content: space-between;
    align-items: center;
    @include sp{
        width:calc(100vw - 40px);
        height: 80px;
    }
}

.o-nav_logo{
    height:40px;
    margin-top:-5px;
    margin-left:-5px;
    @include sp{
        height: 30px;
    }
}

.o-nav_icon{
    font-size:3rem;
    color:$white;
    top:-2px;
    right:0px;
    @include sp{
        font-size:2.5rem;
    }
}

.o-nav_twitter{
    margin-right:30px;
    @include sp{
        margin-right:15px;
    }
}

.o-nav_back{
    width:100%;
    height:100%;
    @include gradation;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    display:none;
}

//header
.o-header{
    @include gradation;
    display:flex;
    justify-content: center;
    overflow:hidden;
    @include pc{
        align-items:flex-end;
    }
}

.o-header_contents{
    @include pc{
        width:962px;
        height:545px;
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
    }
    @include sp{
        width: calc(100vw - 90px);
        height:550px;
        margin-top:130px;
        position:relative;
    }
}

.o-header_right{
    @include pc{
        width:485px;
        height:265px;
        margin-top:140px;
        position:relative;
    }
}

.o-hero_img{
    @include pc{
        width:370px;
        height:auto;
        margin-top:0px;
        margin-left:0px;
    }
    @include sp{
        height:350px;
        width:auto;
        position:absolute;
        top:116px;
        left:0;
        right:0;
        margin:auto;
    }
}

.o-header_text{
    color:$white;
    font-size:4.8rem;
    line-height:1.65;
    overflow:hidden;
    @include pc{
        width:485px;
        margin-top:-15px;
    }
    @include sp{
        font-size:2.8rem;
        position:absolute;
        top:0px;
        left:0;
        right:0;
        margin:auto;
    }
}

.o-app-btn{
    display: inline-block;
    overflow: hidden;
    border-radius: 13px;
    width: 200px;
    height: 75px;
    position:absolute;
    @include pc{
        left:0;
        bottom:0;
    }
    @include sp{
        width:120px;
        height:45px;
        bottom:-2px;
        left:0;
    }
}

.o-app-btn img{
    border-radius: 13px;
    width: 200px;
    height: 83px;
    @include sp{
        width:120px;
        height:45px;
    }
}

.o-google-btn{
    display:inline-block;
    width:255px;
    position:absolute;
    @include pc{
        right:-18px;
        bottom:-18px;
    }
    @include sp{
        width:calc(120px * (255 / 200));
        right:-10px;
        bottom:-12px;
    }
}

.o-google-btn img{
    width:255px;
    @include sp{
        width:calc(120px * (255 / 200));
    }
}


//wrapper
//    content
.o-wrapper{
    background-color:$white;
}

.o-content{
    display:flex;
    justify-content:center;
    align-items:flex-end;
    position:relative;
}

.o-number{
    font-size:40rem;
    font-family: 'Noto Sans', sans-serif;
    line-height:272px;
    position:absolute;
    top:0px;
    @include sp{
        font-size:20rem;
        line-height:140px;
        left:20px;
    }
}

.o-number_1{
    color:$gray;
    @include pc{
        left:calc(50vw - (382px + 130px));
    }
}

.o-number_2{
    color:$font-yellow;
    @include pc{
        right:calc(50vw - (382px + 130px));
    }
}

.o-number_3{
    color:$gray;
    @include pc{
        left:calc(50vw - (382px + 130px));
    }
}

.o-number_4{
    color:$font-yellow;
    @include pc{
        right:calc(50vw - (382px + 130px));
    }
}

.o-content_gray{
    background-color:$white;
}

.o-content_yellow{
    @include gradation;
}

.o-member{
    margin-top:160px;
    @include sp{
        margin-top: 60px;
    }
}

.o-content_contents{
    width:764px;
    height:calc(100% - 80px);
    overflow:hidden;
    position:relative;
    @include sp{
        width: calc(100vw - 40px);
        height:calc(100% - 55px);
        margin-top:55px;
    }
}

.o-content_title{
    font-size:3.2rem;
    height:35px;
    line-height:35px;
    position:absolute;
    top:0;
    left:0;
    @include sp{
        font-size:2.8rem;
        height:40px;
        line-height:40px;
    }
}

.o-content_text{
    font-size:1.8rem;
    width:365px;
    line-height:1.65;
    overflow:hidden;
    position:absolute;
    @include pc{
        top:140px;
        left: 0;
    }
    @include sp{
        font-size:1.5rem;
        width: calc(100% - 90px);
        bottom: 60px;
        left:0;
        right:0;
        margin:auto;
    }
}

.o-content-white{
    color:$white;
}

.o-content_img{
    height:300px;
    width:auto;
    position:absolute;
    @include pc{
        top:0px;
        right:0px;
    }
    @include sp{
        top: 100px;
        left:0;
        right:0;
        margin:auto;
    }
}

.o-fade-in {
  opacity: 0;
  transform: translate(0, 50%);
  transition: 1.5s;
}

.o-fade-in.is-show {
  transform: translate(0, 0);
  opacity: 1;
}



//    contact
.o-contact{
    display:flex;
    justify-content: center;
    align-items:center;
}

.o-contact_button{
    @include gradation_p;
    width:300px;
    height:70px;
    border-radius:35px;
    text-decoration:none;
    display:flex;
    justify-content: center;
    align-items:center;
    @include sp{
        width:220px;
        height:50px;
        border-radius:25px;
    }
}

.o-contact_text{
    font-size:1.8rem;
    line-height:20px;
    color:$white;
    @include sp{
        font-size:1.5rem;
    }
}

.o-contact_icon{
    font-size:1.8rem;
    line-height:20px;
    color:$white;
    margin-right:7px;
}



//pr
.o-pr{
    @include gradation;
}

.o-pr_contents{
    width:500px;
    height:100%;
    margin: 0 auto;
    position:relative;
    @include sp{
        width: calc(100% - 60px);
        height: 100%;
    }
}

.o-pr_img{
    width:230px;
    height:auto;
    display:block;
    margin:0 auto;
    z-index:1;
    padding-top:65px;
    @include sp{
        padding-top:170px;
    }
}

.o-pr_string{
    width:100%;
    height:50px;
    position:absolute;
    top:180px;
    left:0;
    display:flex;
    justify-content: space-between;
    z-index:2;
    @include sp{
        width:220px;
        height:50px;
        top:60px;
        right:0;
        margin:auto;
    }
}

.o-pr_logo{
    width:50px;
    height:auto;
}

.o-logo_text{
    font-size:3.2rem;
    line-height:45px;
    font-weight:bold;
    color:$white;
    width:384px;
    margin-right:-3px;
    @include sp{
        font-size:1.8rem;
        line-height:1.65;
        height:50px;
        margin-top:-4px;
        width:130px;
    }
}

.o-pr_buttons{
    width:100%;
    height:65px;
    position:absolute;
    left:0px;
    display:flex;
    justify-content: space-between;
    z-index:2;
    @include pc{
        top:260px;
    }
    @include sp{
        bottom: 60px;
        height:45px;
    }
}

.o-pr_app-btn{
    margin-top:-10px;
    display: inline-block;
    overflow: hidden; 
    border-radius: 13px; 
    width: 200px; 
    height: 75px;
    @include sp{
        width:120px;
        height:45px;
        margin-top:0px;
    }
}

.o-pr_app-btn img{
    border-radius: 13px;
    width: 200px;
    height: 83px;
    @include sp{
        width:120px;
        height:45px;
    }
}

.o-pr_google-btn{
    display:inline-block;
    margin-right:-18px;
    margin-top:-18px;
    width:255px;
    @include sp{
        width:calc(120px * (255 / 200));
        margin-right:-8px;
        margin-top:-8px;
    }
}

.o-pr_google-btn img{
    width:255px;
    @include sp{
        width:calc(120px * (255 / 200));
    }
}


//footer
.o-footer_contents{
    width:calc(100vw - 120px);
    height:100%;
    margin:0 auto;
    overflow:hidden;
    position:relative;
    @include sp{
        width:calc(100vw - 40px);
    }
}

.o-footer_logo{
    width:73px;
    display:block;
    margin:90px auto 0;
    @include sp{
        width: 50px;
        margin-top:100px;
    }
}

.o-footer_text{
    font-size:1.5rem;
    color:$gray-deep;
    line-height:20px;
    position:absolute;
    @include sp{
        font-size:1.2rem;
    }
}

.o-footer_text_1{
    bottom:100px;
    left:5px;
    @include sp{
        bottom: 85px;
    }
}

.o-footer_text_2{
    bottom:60px;
    left:5px;
    @include sp{
        bottom: 50px;
    }
}

.o-footer_icon{
    font-size:3rem;
    position:absolute;
    bottom:60px;
    color:$purple_pale;
    @include sp{
        font-size:2rem;
        bottom:50px;
    }
}

.o-footer_twitter{
    right:65px;
    @include sp{
        right:40px;
    }
}

.o-footer_instagram{
    right:5px;
}

.o-footer_footer{
    bottom:20px;
    width:100%;
    text-align:center;
    @include sp{
        bottom: 15px;
    }
}


//animation
.o-animation{
    @include pc{
        transition:1s all;
    }
}

.o-animation:hover{
    @include pc{
        transform:scale(1.2,1.2);
        transition:0.5s all;
    }
}

.o-animation_2{
    @include pc{
        transition:1s all;
    }
}

.o-animation_2:hover{
    @include pc{
        transform:scale(1.1,1.1);
        transition:0.5s all;
    }
}