//loading
.o-loading{
    background:$white;
    position:fixed;
    left:0;
    top:0;
    z-index:4;
    display:flex;
    justify-content: center;
    align-items: center;
}

.l-loading_logo{
    width:100px;
    height:auto;
    animation:3s linear infinite rotation;
}

@keyframes rotation{
  0%{ 
      transform:rotate(0);
    }
  100%{ 
      transform:rotate(360deg); 
    }
}


//nav
.o-nav{
    position:fixed;
    z-index:2;
}

.o-nav_contents{
    width:calc(100vw - 120px);
    height:60px;
    margin:0 auto;
    z-index:3;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.o-nav_logo{
    height:40px;
    margin-top:-5px;
    margin-left:-5px;
}

.o-nav_icon{
    font-size:3rem;
    color:$white;
    top:-2px;
    right:0px;
}

.o-nav_twitter{
    margin-right:30px;
}

.o-nav_back{
    width:100%;
    height:100%;
    @include gradation;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    display:none;
}

//header
.o-header{
    @include gradation;
    display:flex;
    justify-content: center;
    align-items:flex-end;
    overflow:hidden;
}

.o-header_contents{
    width:962px;
    height:545px;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.o-hero_img{
    width:370px;
    height:auto;
    margin-top:0px;
    margin-left:0px;
}

.o-header_right{
    width:485px;
    height:265px;
    margin-top:140px;
    position:relative;
}

.o-header_text{
    color:$white;
    font-size:4.8rem;
    width:485px;
    overflow:hidden;
    line-height:1.65;
    margin-top:-15px;
}

.o-app-btn{
    position:absolute;
    left:0;
    bottom:0;
}

.o-google-btn{
    display:inline-block;
    position:absolute;
    right:-18px;
    bottom:-18px;
}


//wrapper
//    content
.o-wrapper{
    background-color:$white;
}

.o-content{
    display:flex;
    justify-content:center;
    align-items:flex-end;
    position:relative;
}

.o-number{
    font-size:40rem;
    font-family: 'Noto Sans', sans-serif;
    line-height:272px;
    position:absolute;
    top:0px;
}

.o-number_1{
    color:$gray;
    left:calc(50vw - (382px + 130px));
}

.o-number_2{
    color:$font-yellow;
    right:calc(50vw - (382px + 130px));
}

.o-number_3{
    color:$gray;
    left:calc(50vw - (382px + 130px));
}

.o-number_4{
    color:$font-yellow;
    right:calc(50vw - (382px + 130px));
}

.o-content_gray{
    background-color:$white;
}

.o-content_yellow{
    @include gradation;
}

.o-member{
    margin-top:160px;
}

.o-content_contents{
    width:764px;
    height:calc(100% - 80px);
    overflow:hidden;
    position:relative;
}

.o-content_title{
    font-size:3.2rem;
    height:35px;
    line-height:35px;
    position:absolute;
    top:0;
    left:0;
}

.o-content_text{
    font-size:1.8rem;
    width:365px;
    line-height:1.65;
    overflow:hidden;
    position:absolute;
    top:140px;
}

.o-l-content_text{
    left:0;
}

.o-content-white{
    color:$white;
}

.o-content_img{
    height:300px;
    width:auto;
    position:absolute;
    top:0px;
    right:0px;
}

.o-fade-in {
  opacity: 0;
  transform: translate(0, 50%);
  transition: 1.5s;
}

.o-fade-in.is-show {
  transform: translate(0, 0);
  opacity: 1;
}



//    contact
.o-contact{
    display:flex;
    justify-content: center;
    align-items:center;
}

.o-contact_button{
    @include gradation;
    width:300px;
    height:70px;
    border-radius:35px;
    text-decoration:none;
    display:flex;
    justify-content: center;
    align-items:center;
}

.o-contact_text{
    font-size:1.8rem;
    line-height:20px;
    color:$white;
}

.o-contact_icon{
    font-size:1.8rem;
    line-height:20px;
    color:$white;
    margin-right:7px;
}



//pr
.o-pr{
    @include gradation;
}

.o-pr_contents{
    width:500px;
    height:100%;
    margin: 0 auto;
    position:relative;
}

.o-pr_img{
    width:230px;
    height:auto;
    display:block;
    margin:0 auto;
    padding-top:65px;
    z-index:1;
}

.o-pr_string{
    width:100%;
    height:50px;
    position:absolute;
    top:180px;
    left:0;
    display:flex;
    justify-content: space-between;
    z-index:2;
}

.o-pr_logo{
    width:50px;
    height:auto;
}

.o-logo_text{
    font-size:32px;
    line-height:45px;
    font-weight:bold;
    color:$white;
    width:384px;
    margin-right:-3px;
}

.o-pr_buttons{
    width:100%;
    height:65px;
    position:absolute;
    top:260px;
    left:0px;
    display:flex;
    justify-content: space-between;
    z-index:2;
}

.o-pr_app-btn{
    margin-top:-10px;
}

.o-pr_google-btn{
    display:inline-block;
    margin-right:-18px;
    margin-top:-18px;
}


//footer
.o-footer_contents{
    width:calc(100vw - 120px);
    height:100%;
    margin:0 auto;
    overflow:hidden;
    position:relative;
}

.o-footer_logo{
    width:73px;
    display:block;
    margin:90px auto 0;
}

.o-footer_text{
    font-size:1.5rem;
    color:$gray-deep;
    line-height:20px;
    position:absolute;
}

.o-footer_text_1{
    bottom:100px;
    left:0;
}

.o-footer_text_2{
    bottom:60px;
    left:0;
}

.o-footer_icon{
    font-size:30px;
    position:absolute;
    bottom:60px;
    color:$yellow_deep;
}

.o-footer_twitter{
    right:65px;
}

.o-footer_instagram{
    right:5px;
}

.o-footer_footer{
    bottom:20px;
    width:100%;
    text-align:center;
}


//animation
.o-animation{
    transition:1s all;
}

.o-animation:hover{
    transform:scale(1.2,1.2);
    transition:0.5s all;
}

.o-animation_2{
    transition:1s all;
}

.o-animation_2:hover{
    transform:scale(1.1,1.1);
    transition:0.5s all;
}